<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Ohmyfood Footer</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/1639721bff.js" crossorigin="anonymous"></script>
</head>
<body>
    <img src="../assets/logo.png" alt="ohmyfoodlogo"/>
    <ul>
        <li class="accent"><i class="fa-solid fa-utensils"></i>Proposer un restaurant</li>
        <li class="accent"><i class="fa-solid fa-handshake-angle"></i>Devenir partenaire</li>
        <li>Mentions légales</li>
        <li><a href="mailto:contact@ohmyfood.fr">Contact</a></li>
    </ul>
</body>
</html>