body {
    padding: 20px;
    background-color: #353535;
    color: #fff;
    width: fit-content;
}

img {
    width: 30%;
    height: auto;
    filter: invert(100%);
    margin-bottom: 20px;
}

ul {
    list-style: none;
    width: fit-content;
}

li {
    margin-bottom: 10px;
    font-weight: 300;
    width: fit-content;
}

li i {
    width: 1rem;
    margin-right: 10px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

.accent {
    font-weight: 500;
}