html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#back {
    display: none;
    position: absolute;
    left: 20px;
}

#back:target {
    display: block;
}

#back i {
    font-size: 1.6rem;
    color: black;
}

img {
    width: 40%;
}