main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes loading {
    from {
        margin-left: 0;
    }
    to {
        margin-left: calc(100% - 10vw);
    }
}

@keyframes show-loading {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 10;
    animation: show-loading .3s linear 2s 1 forwards;
}

.spinner-container {
    display: flex;
    height: 5px;
    width: 60vw;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.spinner {
    width: 10vw;
    height: 100%;
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 50%, rgba(147,86,220,1) 100%);
    animation: loading .7s ease-in-out infinite alternate ;
}

.city {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    background-color: #ebebeb;
    color: #3b3b3b;
    font-weight: 500;
    width: 100%;
}

.city * {
    margin: 0 5px;
}



.presentation {
    background-color: var(--back);
    padding: 50px;
    text-align: center;
    width: 100%;
}

.presentation h1 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.presentation h2 {
    font-size: 1.1rem;
    margin-bottom: 50px;
    font-weight: 300;
}

.presentation a {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 20px -10px black;
    transition: 0.3s ease;
}

.presentation a:hover {
    background-image: linear-gradient(to right bottom, #ffa4e6, #ec96e3, #d689e0, #be7dde, #a373dc);
    box-shadow: 2px 2px 20px -7.5px black;
}




.explanation {
    padding: 50px 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.explanation h1 {
    font-size: 1.5rem;
    width: 100%;
}

.explanation .card {
    background-color: var(--back);
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    align-items: center;
    border-radius: 20px;
    margin: 30px 0 30px 10px;    
    box-shadow: 2px 2px 20px -12.5px black;
    width: 100%;
}

.explanation .card h2 {
    transform: translateX(-50%);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin-right: 15px;
}

.explanation .card i {
    font-size: 1.5rem;
    margin-right: 25px;
    color: #a1a1a1;
}

.explanation .card.accent {
    background-color: #f5edff;
}

.explanation .card.accent i {
    color: var(--primary)
}


.restaurants {
    padding: 50px 30px;
    background-color: var(--back);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.restaurants a {
    text-decoration: none;
    color: #000;
    width: 100%;
}

.restaurants h1 {
    font-size: 1.5rem;
    width: 100%;
}

.restaurants .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 0 0 20px -12px black;
}

.restaurants .card .new {
    align-self: flex-end;
    position: relative;
    margin-bottom: calc(-1.2em - 15px);
    top: 20px;
    right: 20px;
    background-color: #98e1cf;
    color: #169475;
    font-weight: 600;
    padding: 7.5px 10px;
}

.restaurants .card .image-container img {
    width: 100%;
    height: 22.5vh;
    object-fit: cover;
}

.restaurants .card .info-container {
    display: flex;
    flex-direction: row;
    padding: 15px 12.5px;
    align-items: center;
}

.restaurants .card h2 {
    font-size: 1.2rem;
}

.restaurants .card h3 {
    margin-top: 5px;
    font-size: 1.1rem;
    font-weight: 300;
}

.restaurants .card input[type=checkbox] {
    display: none;
}

.restaurants .card label {
    margin-left: auto;
}

.restaurants .card .info-container img {
    width: 40px;
    height: auto;
}

.restaurants .card input[type=checkbox]:checked + label img {
    content: url(../assets/icons/heart_filled.png);
}

@media screen and (orientation: landscape) {

    .presentation {
        width: calc(50% - 101px);
        background-color: #fff;
        border-right: 1px solid #eee;
    }

    .explanation {
        width: calc(50% - 60px);
    }

    .explanation .card {
        width: 30%;
        margin: 15px 1.5%
    }

    .restaurants a {
        margin: 15px;
        width: calc(25% - 30px);
    }
}