@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    --primary: #9356DC;
    --secondary: #FF79DA;
    --terciary: #99E2D0;
    --back: #f6f6f6;
}

iframe#header {
    display: block;
    border: none;
    width: 100%;
    height: 3.5em;
    box-shadow: 0 0 20px -10px black;
}


iframe#footer {
    border: none;
    width: 100%;
    height: 13em;
    display: block;
}