* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    --primary: #9356DC;
    --secondary: #FF79DA;
    --terciary: #99E2D0;
}

iframe#header {
    border: none;
    width: 100%;
    height: 7vh;
    box-shadow: 0 0 10px 0 black;
}