@keyframes fadein {
    0% {
        opacity:0;
        margin-top: 35px;
    }
    75% {
        opacity: .4;
    }
    100% {
        opacity:1;
        margin-top: 15px;
    }
}

@keyframes like {
    from {
        content: '';
        transform: scale(100%);
    } 

    50% {
        transform: scale(10%);
    }

    to {
        content: url(../assets/icons/heart_filled.png);
        transform: scale(100%);
    }
}

@keyframes like-reverse {
    from {
        content: url(../assets/icons/heart_filled.png);
        transform: scale(100%);
    } 

    50% {
        transform: scale(0%);
    }

    to {
        content: '';
        transform: scale(100%);
    }
}

.illustration {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin-bottom: -50px;
}

.menu {
    position: relative;
    top: -15px;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 40px 40px 0 0;
    margin-bottom: -15px;
}

.header {
    display: flex;
    flex-direction: row;
}

.header h1 {
    font-family: 'Shrikhand';
    font-size: 2rem;
}

.header .like-container {
    margin-left: auto;
    width: 40px;
    height: 40px;
}

.header img {
    width: 100%;
    height: auto;
    animation: like-reverse 1s ease-in-out forwards;
}

.header .like-container:hover img {
    animation: like 1s ease-in-out forwards;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categorie {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.categorie h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.categorie .underline {
    display: block;
    height: 4px;
    width: 50px;
    background-color: var(--terciary);
    margin-bottom: 5px;
}

.categorie .menu-element {
    animation: fadein 2s;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    align-items: center;
    margin: 15px 0;
    box-shadow: 0 0 20px -12px black;
    overflow: clip;
}

.categorie label:nth-child(4) { animation-duration: .5s }
.categorie label:nth-child(6) { animation-duration: .8s }
.categorie label:nth-child(8) { animation-duration: 1.1s }
.categorie label:nth-child(10) { animation-duration: 1.4s }

.categorie .infos {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-grow: 1;
    overflow: auto;
}

.categorie .infos h3,
.categorie .infos h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.categorie .infos h3 {
    font-weight: 600;
    font-size: 1.2rem;
}


.categorie .infos h4 {
    margin-top: 5px;
    font-weight: 300;
    font-size: 0.8rem;
}


.categorie .price {
    padding: 15px 7.5px;
    align-self: flex-end;
    font-weight: 500;
    font-size: 1.1rem;
}

.categorie .checked {
    display: flex;
    width: fit-content;
    background-color: var(--terciary);
    color: #fff;
    height: 100%;
    margin-left: 10px;
    padding: 5px 20px;
    font-size: 1.5rem;
    transition: transform 0.3s, margin-left 0.3s;
    transform: translate(100%);
    margin-left: -60px;
}

.categorie .checked * {
    padding: 100% 0;
    align-self: center;
    text-align: center;
    transform: rotate(180deg);
    transition: transform 0.4s 0.1s; 
}

.categorie .menu-element:hover .checked,
.categorie .menu-element:hover .checked * {
    transform: none;
    margin-left: 0;
}

a.order {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 20px -10px black;
    width: fit-content;
    align-self: center;
    margin-top: 15px;
    transition: 0.3s ease;
}


a.order:hover {
    background-image: linear-gradient(to right bottom, #ffa4e6, #ec96e3, #d689e0, #be7dde, #a373dc);
    box-shadow: 2px 2px 20px -7.5px black;
}

@media screen and (orientation: landscape) {
    .categorie {
        padding: 40px;
        border-right: 1px solid #eee;
        width: calc(33% - 80px);
        
    }

    .categorie:last-of-type {
        border: none;
    }
}